.tableTopDiv {
  margin-top: 20px;
  overflow: scroll;
  position: relative;
}

.noRecordsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.insideTableLoader {
  padding: 100px;
}

.editButton {
  a {
    color: #686868;
    font-size: 12px;
    text-decoration: none;
  }
  :hover {
    background: cadetblue !important;
  }
}
